<div class="container-full">
  <%= render 'form' %>
  <div id="search-map"></div>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&libraries=places&callback=initAutocomplete"
       async defer></script>
</div>
