<<<<<<< HEAD
<div id='heading' style='font-size: 20px; margin-left: 15px;'>Add an Item</div>

<div class="container-full">
  <div id="form">
    <%= render 'form' %>
  </div>
</div>

  <div id='map-canvas'></div>

  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="search-map"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUu8pN7l0vL1M1VSN0SApzCoL8OYYFoLw&libraries=places&callback=initAutocomplete" async defer></script>
