/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html,body {
  height:100%;
  color: #404040;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 90%;
  overflow:hidden;
}

.fa-shopping-cart, .fa-check-square-o {
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  float:left;
  // vertical-align: bottom;
}

#card {
  margin-bottom: 0.25rem;
  // height: 50px;
}

h5 {
  line-height: 0;
  font-weight: 300;
  // vertical-align: text-top;
}

#application-body {
  background-image: url('Street.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-position: center;
  background-position: -250px 0px;
}
